.action-catalog-page {
    min-height: calc(100vh - 80px);
}

.catalog-header {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.catalog-header-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
}

.title-section {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-shrink: 0;
}

.title-row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.create-btn-mini {
    width: 24px !important;
    height: 24px !important;
    min-width: 24px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    box-shadow: 0 4px 10px -2px rgba(99, 102, 241, 0.2);
    background: var(--accent) !important;
    border: none !important;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-filters-row {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}

.catalog-search-wrap {
    width: 280px;
}

.catalog-options-row {
    display: flex;
    gap: 8px;
}

.catalog-options-row .ant-select {
    min-width: 140px;
}

.catalog-options-row .ant-select .ant-select-selector {
    border-radius: 10px !important;
    border-color: var(--border-light) !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03) !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
}

.catalog-options-row .ant-select-focused .ant-select-selector {
    border-color: var(--accent) !important;
    background-color: #ffffff !important;
    box-shadow: 0 0 0 4px var(--accent-light) !important;
}

.status-tabs .ant-tabs-nav {
    margin-bottom: 0 !important;
}

.status-tabs .ant-tabs-nav::before {
    border-bottom: 1px solid var(--border-light) !important;
}

.status-tabs.ant-tabs {
    margin-bottom: -1px;
}

.status-tabs .ant-tabs-tab {
    padding: 12px 27px !important;
    margin: 0 !important;
    font-size: 14px;
    /* font-weight: 600 !important; */
    color: var(--text-subtle) !important;
    transition: all 0.3s ease !important;
}

.status-tabs .ant-tabs-ink-bar {
    height: 3px !important;
    background: var(--accent) !important;
    border-radius: 3px 3px 0 0;
}

.status-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--accent) !important;
}

.catalog-body {
    position: relative;

}

.catalog-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background: var(--bg-card);
    border: 1px dashed var(--border-medium);
    border-radius: 16px;
}

@media (max-width: 1024px) {
    .catalog-header-top {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .catalog-filters-row {
        width: 100%;
        flex-wrap: wrap;
    }

    .catalog-search-wrap {
        width: 100%;
        max-width: 100%;
    }
}