
.var-name-stack {
    display: flex;
    flex-direction: column;
}

.var-item-actions-gap {
    margin-left: var(--space-1-5) !important;
}

.validation-msg-ive {
    margin-top: -2px !important;
    margin-bottom: 2px !important;
}
